# Dependencies
node_modules/

# Production Build
dist/
dist-ssr/
*.tsbuildinfo

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Test Coverage & Logs
coverage/
*.log

# OS & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
